extends layout

block content 
    //- p #{bicicletas}
    table.table
        th Id
        th Modelo
        th Ubicacion
        each bici in bicicletas
           tr
            td=bici._id
            td=bici.modelo
            td=bici.ubicacion
        
