extends layout

block content
    .container-fluid.h-100
        .row
            .col-md-4.m-auto
                form.form-signin.mt-4(action='/users/register' method="post")
                    //- img.mb-4(src='' alt='' width='72' height='72')
                    h2.mb-3.font-weight-normal.text-primary Registro
                    label.sr-only(for='inputName') Nombre 
                    input#inputEmail.form-control.mb-1(name='nombre' type='text' placeholder='Nombre' required='')
                    label.sr-only(for='inputEmail') Email 
                    input#inputEmail.form-control.mb-1(name='email' type='email' placeholder='Email' required='' autofocus='')
                    label.sr-only(for='inputPassword') Password
                    input#inputPassword.form-control.mb-1(name='password' type='password' placeholder='Password' required='')
                    label.sr-only(for='inputPassword') Confirmar password
                    input#inputPassword.form-control(name='confirmpass' type='password' placeholder='Repetir password' required='')
                    .checkbox.mb-3.mt-2.text-left
                        label
                        input(type='checkbox' value='remember-me')
                        |  Recordarme
                    button.mb-3.btn.btn-lg.btn-primary.btn-block(type='submit') Registrarme
                    //- if errors.confirm_password
                    //-     p 
                    //-     = errors.confirm_password.message
                p.mt-5.mb-3.text-muted &copy; 2017-2020
